
html, body{
	height: 100%;
    width: 100%;
    width: -moz-available;
    margin: 0;
    font-family: 'Arial' !important;
    display: flex;
    overflow: hidden;
    background: #3a4851;
}

.que-notif{

    width: 100%;
    height: 100%;
}

#gameContainer{

	display: none;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    min-width: 300px;
    overflow: hidden;
}

#gameScene{
    width: 90%;
    background: gray;
    position: relative;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    height: auto;
    max-width: 768px;
} 

.displayData{
    width: 90%;
    height: 20%;
    max-width: 768px;
    margin: 0 auto;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 10px;
    color: white;
}

#userInterface{
	background: gray;
	border: 1px solid;
	width: auto;
	height: 100%;
	display: none;
	overflow: hidden;
	margin: auto;
}

#nonGameComponent{
    /*display: none;*/
    display: none;
	width: calc(100% - 1px);
    height: 100%;
    position: absolute;
    background: #3e3e3e;
    overflow: hidden;
}

#panel{
    border: 1px solid white;
    width: 100%;
    height: 100%;
    max-width: 768px;
    margin: 0 auto;
    background: #3a4851;
    text-align: center;
    color: white;
    border-top: none;
    border-bottom: none;
}

#introduction, #win, #playAgain, #swiper{
    height: 100%;
    width: 100%;
}

.upperSection{
    height: 45%;
}

.lowerSection{
    height: 55%;
}

.mainText{
    position: relative;
    top: 50%;
    font-size: calc(5vw + 10px);
    text-align: center;
    color: white;
}

.action-blocks{
    height: 50%;
}

#loginButton, #playAgainButton, #downloadButton{
    border-radius: 100px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 65px;
    height: 65px;
    width: 70%;
    max-width: 500px;
    background: #48565f;
    position: relative;
    top: 50%;
    overflow: hidden;
    cursor: pointer;
    display: block;
    color: white;
    text-decoration: none;
}

#agreementText{
    margin: 0 auto;
    width: 30%;
    min-width: 160px;
    height: fit-content;
    font-size: 12px;
    color: white;
}

#loader{
    background: #252525;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}

.loaderImage{
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background-image: url('../images/loader.gif');
    background-size: 40px;
    background-repeat: no-repeat;
}

.hide{
	display: none !important;
}

#win > div:nth-child(1){
    height: 10%;
}

#win > div:nth-child(2){
    height: 10%;   
}

#win > div:nth-child(3){
    height: 30%;   
}

#win > div:nth-child(4){
    height: 40%;   
}

#win > div:nth-child(4) > div:nth-child(1){
    height: 50%;   
}

#win > div:nth-child(4) > div:nth-child(2){
    height: 50%;
    line-height: 50px;
}

#win div:nth-child(1) span, #playAgain div:nth-child(1) span{
    line-height: 70px;
    font-size: 4vw;
}

#playAgain > div:nth-child(1){
    height: 20%;   
}

#playAgain > div:nth-child(2){
    height: 30%;   
}

#playAgain > div:nth-child(3){
    height: 50%;   
}

#foodPhoto, #qrCode{
    display: inline-block;
    width: 40%;
    height: 100%;
}

.image{
    width: 70%;
    position: relative;
    top: calc(50% - 50px);
    max-width: 160px;
    min-width: 80px;
}

#userImage > img{
    width: 24%;
    max-width: 140px;
}

.imageLoader{
    background-image: url("../images/loader.gif");
}

#gameScreen{
    border: 5px white solid;
    background: #3a4851;
    width: calc(100% - 10px);
    height: 100%;
    position: absolute;
    margin: 0;
    z-index: 2;
    top: 0;
    left: 0;
    border-top: none;
    border-bottom: none;
}

#gameScreen > div.mainText{
    top: 30%;
}

.displayTitle{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    height: 10%;
    max-width: 768px;
}

.displayTitle > img{
    width: 30%;
    top: calc(50% - 10px);
    position: relative;
    max-width: 200px;
}

.displayData-blocks{
    width: 31%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.displayData > div:nth-child(1) > div{
    background-image: url("../images/displayData.png");
}

.displayData > div:nth-child(2) > div{
    background-image: url("../images/avatar.png");
}

.displayData > div:nth-child(3) > div{
    background-image: url("../images/displayData.png");
}

.displayData-blocks > div{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.displayData-blocks > div > div{
    position: relative;
    top: calc(50% - 10px);
    font-size: calc(1vw + 12px);
}

.mainText > img{
    width: calc(40% + 120px);
}


#continueButton {
    border-radius: 100px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 65px;
    height: 65px;
    width: 70%;
    max-width: 500px;
    background: #48565f;
    position: relative;
    top: 30%;
    overflow: hidden;
    cursor: pointer;
}

.displayTitle > span{
    top: 90%;
    position: sticky;
    color: white;
    font-size: calc(1vw + 5px);
}

.displayTitle > span:nth-child(1){
    float: left;
}

.displayTitle > span:nth-child(3){
    float: right;
}

#qr{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    margin: 0 auto;
    z-index: 11;
    overflow: hidden;
}

#qr > canvas{
    width: 100%;
    margin: 0 auto;
    display: block;
    border: 1px solid;
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#unLocatedUser{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background: #3a4851;
    z-index: 1000;
}

    


